# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Static/media
/staticfiles/
/media/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Environment configuration
.env
env.py

# Migrations (optional)
*/migrations/__pycache__/
