{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head %}
<!-- FullCalendar CSS -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet" />
<style>
    .swal-left-align {
        text-align: left;
    }

    /* calendar */
    .fc-header-toolbar {
        display: flex;
        flex-wrap: wrap;
    }
</style>


{% endblock %}

{% block content %}
<h3 class="mt-4 ms-3">Calendar</h3>
<div id="searchCat">
    <form id="formCat" method="GET">
        {% csrf_token %}
        <label for="categorySelect" id="catLabel" class="me-4">Filter by category:</label>

        <select id="categorySelect" name="category" class="form-control">
            <option value="all">All</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <button class="btnStyle" type="submit">Go</button>
    </form>
</div>
<div id='calendar'></div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    let calendar;

    function screenSize() {
        const width = window.innerWidth;

        let result;
        if (width > 900) {
            result = {
                listMonth: { buttonText: 'Month' },
                listWeek: { buttonText: 'Week' },
                listDay: { buttonText: 'Day' },
                dayGridWeek: { buttonText: 'Week Grid' },
                dayGridMonth: { buttonText: 'Month Grid' },
            };
        } else {
            result = {
                listMonth: { buttonText: 'Month' },
                listWeek: { buttonText: 'Week' },
                listDay: { buttonText: 'Day' },
            };

        }
        return result;
    }

    // Function to render the data events json to calendar
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',

            // full calendar elements
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'listMonth, listWeek, listDay, dayGridWeek, dayGridMonth',
            },
            views:
                screenSize(),
            initialView: 'listWeek',
            // defines the slots time to be displayed in the calendar
            slotMinTime: '08:00:00',
            slotMaxTime: '20:00:00',
            // define the format for the time
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit',
                meridiem: 'short'
            },
            // function for get the json, and verify its right format or throw error
            events: function (fetchInfo, successCallback, failureCallback) {
                fetch(`/events/json/`)
                    .then(response => {
                        // throws error if response is not as expected
                        if (!response.ok) throw new Error('Network response was not ok');
                        return response.json();
                    })
                    .then(data => {
                        // map the json into event objects
                        const events = data.map(event => ({
                            id: event.id,
                            title: event.title,
                            start: event.start,
                            end: event.end,
                            when: event.when,
                            time: event.time,
                            category: event.category,
                            endD: event.endDate,
                            endT: event.endTime,
                            location: event.location,
                            vcode: event.vcode,
                            description: event.description,
                            provider: event.provider,
                        }));
                        // send the mapped events to the calendar 
                        successCallback(events);
                    })
                    // handling error if data doesnt not load
                    .catch(error => {
                        console.error('Error loading events:', error);
                        failureCallback(error);
                    });
            },

            eventClick: function (info) {
                const props = info.event.extendedProps;
                const id = info.event.id;

                Swal.fire({
                    title: '📢 Port says:',
                    html: `
        <div class="swal-left-align">
            <b>📌 Title:</b> <a href="/event/${id}/">${info.event.title || ''}</a><br>
            <b>📍 Location:</b> ${props.location || ''}<br>
            <b>📅 Date:</b> ${props.when}<br>
            <b>🕒 Time:</b> ${props.time}<br>
        </div>
    `,
                });

            },
        });

        calendar.render();

        document.getElementById('formCat').addEventListener('submit', function (event) {
            event.preventDefault();

            // Get the selected category
            var selectedCategory = document.getElementById('categorySelect').value;

            // Fetch events based on the selected category
            fetch(`/events/json/?category=${encodeURIComponent(selectedCategory)}`)
                .then(response => {
                    if (!response.ok) throw new Error('Network response was not ok');
                    return response.json();
                })
                .then(data => {
                    // Map the json into event objects
                    const events = data.map(event => ({
                        id: event.id,
                        title: event.title,
                        start: event.start,
                        end: event.end,
                        when: event.when,
                        time: event.time,
                        category: event.category,
                        endD: event.endDate,
                        endT: event.endTime,
                        location: event.location,
                        vcode: event.vcode,
                        description: event.description,
                        provider: event.provider,

                    }));
                    // Clear existing events and add new ones
                    calendar.removeAllEvents();
                    calendar.addEventSource(events);
                })
                .catch(error => {
                    console.error('Error loading events:', error);
                });
        });
    });

</script>
{% endblock %}