{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock %}

{% block content %}
<h3>event form</h3>

<div style="width: 80vw; margin-left: 10%;">

    <form method="POST" id="" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- post event form -->
        {{ formE | crispy }}
        {{ formIE | crispy }}
        <!-- edit form -->
        {{ form | crispy }}

        <button type="submit">Save</button>

    </form>

    <form method="POST" id="" enctype="multipart/form-data"></form>
</div>

{% endblock %}