<div id="headerLogo">
    <div><a href="{% url 'WhatsOnCApp:home' %}"> <img id="logo"
                src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1749127668/WhatsOnC-NCI/logoNoBG_y38bbq.png"
                width="85px" height="85px" alt="logo"></a></div>
    <div>
        <div>
            <h2 class="d-flex justify-content-end align-content-center">
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <i class="fa-solid fa-user-tie"></i>
                {% else %}
                {% if user.provider.approved %}
                <i class="fa-solid fa-id-badge"></i>
                {% else %}
                <i class="fas fa-user"></i>
                {% endif %}
                {% endif %}
                {{ user.username }}
                {% else %} <i class="fas fa-user-slash"></i> {% endif %}
            </h2>

            {% include 'includes/navbar.html' %}
        </div>
    </div>
</div>