<div class="dropdown nav justify-content-end">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <!-- If user in session is logged -->
        {% if user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        <li><a class="dropdown-item" href="{% url 'CommunityApp:userProfile' %}">My Profile</a></li>
        <!-- if user is not staff and then check if is provider -->
        {% if not user.is_staff %}
        {% if user.provider.approved %}
        <li><a class="dropdown-item" href="{% url 'WhatsOnCApp:eventPost' %}">Post an Event</a></li>
        <!-- if not staff either provider, so regular user -->
        {% else %}
        <li><a class="dropdown-item" href="{% url 'WhatsOnCApp:providerRegistration' %}">Provider Registration</a></li>
        {% endif %}
        {% else %}
        <!-- if staff -->
        <li><a class="dropdown-item" href="">Control Panel</a></li>
        {% endif %}
        <!-- if not logged -->
        {% else %}
        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
        <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
        {% endif %}
        <!-- all users -->
        <li><a class="dropdown-item" href="{% url 'WhatsOnCApp:calendar' %}">Calendar</a></li>
        <li><a class="dropdown-item" href="{% url 'WhatsOnCApp:contactUs' %}">Contact Us</a></li>
    </ul>
</div>